inputs/
.claude/
.agents/
backend/target/
data/
logs/
*__pycache__
.venv/
.env
.idea
# examples/sample[2-9]
# examples/sample[1-9][0-9]
examples/Sample[2-9]
examples/Sample[1-9][0-9]
AGENTS.md
CLAUDE.md
.antigravitycli/*
secrets/
frontend/coverage
examples/Backend-renderer-discrepancy-p2
examples/Backend-renderer-discrepency
examples/iwara-bonus
examples/nHentai
examples/pixiv